@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('reset.css');
@import url('header.css');
@import url('numeros.css');
@import url('talentos.css');
@import url('vagas.css');
@import url('colaboradores.css');
@import url('footer.css');

:root {
    --cor-branca: #FFFFFF;

    --cor-cinza: #667085;
    --cor-cinza-escuro: #3A404E;
    --cor-cinza-alternativo: #EAECF0;
    --cor-vermelha: #8E2424;
    --cor-quase-preto: #101828;
    --cor-fundo-footer: #F9FAFB;
    --cor-letra-footer: #98A2B3;

    --fonte-Inter: "Inter", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-branca);
    font-family: var(--fonte-Inter);
    color: var(--cor-cinza);
    font-weight: 500;
}